body{
	background: #5f2c82;  
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #49a09d, #5f2c82); 
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
.principal{
	display: grid;
	height: 100vh;
}
.container{
  height: 500px;
  width: 240px;
	border: 1px solid #ffffff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 30px;
	max-width: 250px;
	text-align: center;
	margin: auto;
}
.header img{
	max-width: 60%;
}
.img-radius{
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.header h1{
	font-size: 30px;
	margin: 0;
}
.logo-font{
	font-family:'Pacifico',cursive;
	color: #ffffff;
}
.section{
	width: 100%;
	margin-bottom: 15px;
}
.input,
.button{
	display: block;
	border: 0;
	padding: 10px 0;
	margin: 5px 0 0 0;
}
.button{
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.button img{
	width: 15px;
}
.primary{
	background-color: #054292;
	color: #ffffff;
	font-weight: bold;
}
.gmail{
	background-color: #ffffff;
}
.facebook{
	background-color: #3b5998;
	color: #ffffff;
}
.secundary{
	background-color: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
}
.input{
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
}

/*Estilos del muro*/
.wall{
	width: 50%;
	margin: 0 auto;
}
header img{
	width: 80px;
}
header{
	text-align: center;
	margin-bottom: 20px;
}
header h1{
	margin: 0;
}
nav{
	text-align: center;
}
nav a{
	border: 1px solid #054292;
	display: inline-block;
	padding: 10px;
	background-color: #49a09d;
}
nav a img{
	width: 40px;
}
.card{
	background-color: transparent;
	border: 1px solid #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 20px 100px;
	display: flex;
	margin-top: 5px;
	color: #ffffff;
}
.cardImage{
	width: 15%;
	display: inline-block;
}
.cardContent{
	width: 80%;
	display: inline-block
}
.cardContent textarea{
	width: 100%;
}
.cardContent .primary{
	width: 150px;
	display: inline-block;
}
.addPost .cardContent{
	text-align: right;
}
.cardImage img{
	width: 50px;
}
.cardContent img{
	width: 100%;
}
